body {
  font: 12px sans-serif;
  text-align: center;
  color: #3c3c3c;
  margin: 10px;
}

button {
  border-radius: 5px;
  background: white;
  color: black;
  border: none;
  padding: 8px 12px;
  margin: 0 2px;
  box-shadow: inset 0 0 0 1px black;
  outline: none;
}

button:disabled {
  color: grey;
  box-shadow: inset 0 0 0 1px grey;
}

button:active {
  background: lightgray;
}
